
h1 {
  height: 80px;
  text-align: center;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 5px;
  background: linear-gradient(90deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

canvas {
  margin: 0 auto;
  background-color: #4de7ffff;
  height: 450px;
  width: 450px;
}

#sea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#inSea {
  position: absolute;
}

#whiteBackground {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800%;
}

#white {
  height: 700px;
  width: 900px;
  background-color: #ffffff;
  position: relative;
}

#top {
  position: absolute;
}

#playBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start, #reset {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 100px;
  font-size: 30px;
  margin-bottom: 30px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: rgb(145, 167, 186);
  border-color: rgb(186, 241, 255);
  border-width: 5px;
  font-family: fantasy;
  color: #ffffff;
}

.moveButton {
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
  background-color: transparent;
  border-color: transparent;
  font-size: 70px;
  font-family: fantasy;
}

.centering_parent{
  text-align: center;
  margin-top: 20%;
  margin-left: 30px;
}

#leftAndRight {
  display: block;
}

#left {
  display: inline-block;
  margin-right: 70px;
}

#righr {
  display: inline-block;
  margin-left: 70px;
}
